.header {
  border-bottom: 1px solid #ECECEC;
}

.header__container {
  display: flex;
  align-items: center;
}

.nav {
  align-items: center;
  padding-top: 16px;
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
  }
}

.nav__list {
  display: flex;
  align-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav__list .nav__item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (min-width: 480px) {
  .nav__list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .nav__list {
    display: flex;
  }
}

.nav__btn {
  background-color: #FFFFFF;
}

.nav__btn:hover, .nav__btn:focus {
  fill: #2196F3;
  background-color: #FFFFFF;
}

.nav__btn .nav__icon--menu {
  display: none;
}

.nav__btn.is-open .nav__icon--menu {
  display: block;
}

.nav__btn.is-open .nav__icon--cross {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav__btn {
    display: none;
  }
}

.nav__icon:hover, .nav__icon:focus {
  fill: #2196F3;
}

.nav__link {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #757575;
  font-weight: 500;
  line-height: 1.17;
  position: relative;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  cursor: pointer;
}

.nav__link--current {
  color: #2196F3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link--current:focus::after, .nav__link--current:hover::after {
  width: 48px;
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0;
  display: block;
  top: 46px;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}

.nav__link:hover, .nav__link:focus {
  color: #2196F3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__list {
  align-content: center;
  justify-items: center;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
}

@media screen and (min-width: 480px) {
  .contacts__list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contacts__list {
    display: inline-block;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__list {
    display: flex;
  }
}

@media screen and (min-width: 480px) {
  .contacts__list--footer {
    display: inline-block;
  }
}

.contacts__list--current {
  color: #2196F3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #757575;
  font-weight: 500;
  line-height: 1.17;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .contacts__link {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    margin-left: 30px;
    margin-bottom: auto;
  }
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196F3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link--email--footer, .contacts__link--tel--footer {
  color: rgba(253, 241, 241, 0.6);
  line-height: 1.17;
}

@media screen and (min-width: 1200px) {
  .contacts__link--email--footer, .contacts__link--tel--footer {
    margin-left: auto;
    margin-bottom: auto;
  }
}

.contacts__link--email--footer {
  margin: 9px 0 9px 0;
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
  cursor: pointer;
}

.contacts__icon:focus, .contacts__icon:hover {
  fill: #2196F3;
}

.footer {
  background-color: #2F303A;
}

@media screen and (min-width: 480px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.footer .container {
  align-items: baseline;
}

@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
  }
}

@media screen and (min-width: 480px) {
  .footer__info {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__info {
    margin-right: 70px;
    text-align: left;
  }
}

.footer__address {
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 1.71;
  margin-top: 20px;
}

.container-add__topic {
  text-transform: uppercase;
  height: 16px;
  font-size: 14px;
  line-height: 1.17;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .container-add__topic {
    display: block;
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .container-add__topic {
    width: 145px;
    margin-top: 0px;
  }
}

.container-add__list {
  margin: 20px 0px 0px 0px;
  display: flex;
  align-content: center;
}

.container-add__item:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 480px) {
  .container-add__item {
    display: inline-block;
  }
}

@media screen and (min-width: 1200px) {
  .container-add__item {
    display: flex;
  }
}

.container-add__link {
  display: flex;
  align-content: center;
  text-align: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  fill: #FFFFFF;
  cursor: pointer;
  background: #44454E;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-add__link:focus, .container-add__link:hover {
  fill: #FFFFFF;
  background: #2196F3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-add__icon {
  display: flex;
  align-content: center;
  text-align: center;
  display: block;
}

@media screen and (min-width: 480px) {
  .container-mailing__list {
    display: inline-block;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .container-mailing__list {
    display: flex;
    margin-left: 94px;
    align-content: center;
    width: 570px;
    height: 86px;
    margin-right: 0px;
    text-align: left;
  }
}

.container-mailing__label {
  text-transform: uppercase;
  width: 145px;
  height: 16px;
  font-size: 14px;
  line-height: 1.17;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
  width: 219px;
}

.container-mailing__button {
  align-items: center;
  justify-self: center;
  text-align: center;
  background-color: #2196F3;
  color: #FFFFFF;
  width: 200px;
  height: 50px;
  padding-left: 29px;
  margin-left: 12px;
}

.container-mailing__button:hover, .container-mailing__button:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}

@media screen and (min-width: 480px) {
  .container-mailing__button {
    display: inline-block;
    text-align: center;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .container-mailing__button {
    display: flex;
    margin-top: 36px;
  }
}

.container-mailing__icon {
  fill: #FFFFFF;
  margin-left: 10px;
}

.container-mailing__input {
  height: 50px;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 0;
  margin-top: 13px;
  outline: none;
  color: #e1e1e1;
}

@media screen and (min-width: 480px) {
  .container-mailing__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .container-mailing__input {
    width: 358px;
  }
}

@media screen and (min-width: 480px) {
  .container-mailing__form {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .container-mailing__form {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .container-mailing__form {
    margin-top: 0px;
  }
}

body, footer {
  font-family: 'Roboto', 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0px;
}

ul {
  list-style: none;
}

button {
  border-radius: 4px;
  background-color: #F5F4FA;
  border: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #212121;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover, button:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  margin: 0;
  padding: 0;
}

*, ::before, ::after {
  box-sizing: border-box;
}

a {
  color: #212121;
  text-decoration: none;
}

image {
  height: auto;
  display: block;
}

.container {
  width: 100%;
  padding: 0px 15px;
  margin: 0px auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo__link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #2196F3;
  margin: 0px;
}

@media screen and (min-width: 480px) {
  .logo__link--header {
    margin-right: 276px;
  }
}

@media screen and (min-width: 768px) {
  .logo__link--header {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo__link--header {
    margin-right: 93px;
  }
}

.logo__span--footer {
  color: #FFFFFF;
}

.logo__span--header {
  color: #000000;
}

.portfolio-buttons {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-buttons__list {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 50px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-buttons__item:hover, .portfolio-buttons__item:focus {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-buttons__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-buttons--all {
  min-width: 73px;
  Height: 38px;
  Top: 174px;
  Left: 495px;
  margin: auto 8p auto 8px;
}

.portfolio-buttons--web-site {
  min-width: 128px;
  Height: 38px;
  Top: 174px;
  Left: 576px;
  margin: auto 8p auto 8px;
}

.portfolio-buttons--attachment {
  min-width: 145px;
  Height: 38px;
  Top: 174px;
  Left: 712px;
  margin: auto 8p auto 8px;
}

.portfolio-buttons--design {
  min-width: 103px;
  Height: 38px;
  Top: 174px;
  Left: 865px;
  margin: auto 8p auto 8px;
}

.portfolio-buttons--marketing {
  min-width: 130px;
  Height: 38px;
  Top: 174px;
  Left: 976px;
  margin: auto 8p auto 8px;
}

.portfolio-projects__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: -30px;
  margin-left: -30px;
}

.portfolio-projects__list > .portfolio-projects__item {
  margin-top: 30px;
  margin-left: 30px;
}

.portfolio-projects__item:nth-child(3n + 3) {
  margin-right: 0px;
}

.portfolio-projects__link {
  display: block;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-projects__link:hover, .portfolio-projects__link:focus {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-projects__link:hover .portfolio-projects__photo::before, .portfolio-projects__link:focus .portfolio-projects__photo::before {
  transform: translateY(0);
}

.portfolio-projects__link:hover .portfolio-projects__description, .portfolio-projects__link:focus .portfolio-projects__description {
  opacity: 1;
}

.portfolio-projects__photo {
  position: relative;
  overflow: hidden;
}

.portfolio-projects__photo::before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 100%;
  height: 294px;
  top: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-projects__description {
  position: absolute;
  content: "";
  top: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 294px;
  font-size: 18px;
  line-height: 1.55;
  font-weight: 400;
  text-align: left;
  color: #FFFFFF;
  padding: 63px 24px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-projects__text {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
}

.portfolio-projects__title {
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  color: #212121;
}

.portfolio-projects__type {
  font-size: 16px;
  line-height: 1.9;
  color: #757575;
  padding-top: 4px;
}
/*# sourceMappingURL=portfolio.css.map */