
.activity {
    display: none;
    @media screen and (min-width: 1200px) {
        display: flex;     
    }
    padding-top: 94px;
    padding-bottom: 94px;
    &__title {
        font-size: 36px;
        line-height: 1.2;
        font-weight: 700;
        color: $main-title-color; 
        text-align: center;
        margin-bottom: 50px;
    }
    &__list{
        display: flex;
        align-content: center;
    }
    &__item {
        position: relative;
        &:not(:last-child) {
            margin-right: 30px;
        }
        &::before {
            display: inline-block;
            position: absolute;
            content: "";
            width: 100%;
            height: 70px;
            bottom: 0;
            background-color: $bg-description;   
        }
    }
    &__description {
        position: absolute;
        content: "";
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
    
        font-size: 14px;
        line-height: 1.14;
        font-weight: 700; 
        text-align: center;
    
        color: $main-text-white-color;
        transform: translate(-50%);
        
        padding-top: 27px;
        padding-bottom: 27px;
    }
}