body, footer {
    font-family: 'Roboto', 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $main-text-color;
    margin: 0px;
}

ul {
    list-style: none;
}

button {
    border-radius: 4px;
    background-color: $background-buttons-color;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: $main-title-color;

    transition:  background-color $time $timing-function, color $time $timing-function;

    &:hover, &:focus {
        background-color: $hover-focus-color;
        color: $main-text-white-color;
    
        transition:  background-color $time $timing-function, color $time $timing-function;
    }
}

* {
    margin: 0;
    padding: 0;
}

*, ::before, ::after {
    box-sizing: border-box;
}

a {
    color: $main-title-color;
    text-decoration: none; 
}

img {
    display: block;
}

image {
    max-width: 100%;
    height: auto;
    display: block;
}

.container  {
    width: 1200px;
    padding: 0px 15px;
    margin: 0px auto;
}

.container  {
    @media screen and (min-width: 480px) {
        width: 480px;      
    }
    // width: 1200px;
    // padding: 0px 15px;
    // margin: 0px auto;
}