.mobile {
    position: fixed;
    top: 0;
    left: 0;
    background:red;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    @media screen and (min-width: 768px) {
        display: none;   
    }
    // &.container {
    //     // display: flex;
    //     // flex-direction: column;
    //     // justify-content: space-between;
    //     // height: 100%;
    // } 
    &__btn {
        min-width: 40px;
        min-height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: $main-text-white-color;
        fill: red;
        color: red;
        &:hover, &:focus {
            fill: $hover-focus-color; 
            background-color: $main-text-white-color;
        }
        // & .nav__icon--menu {
        //     display: none;
        // }
        // &.is-hidden .nav__icon--menu {
        //     display: block;
        // }
        @media screen and (min-width: 768px) {
            display: none;   
        }
    }
    &-menu {
        &__list {
            display: block;
            align-content: center;
            font-weight: 500;
            font-size: 40px;
            line-height: 1.17;
            
        }
        &__link {
            &--current {
                color: $hover-focus-color;
                transition: color $time $timing-function;
            }
            &:hover, &:focus {
                color: $hover-focus-color;
                transition: color $time $timing-function;
            }
        }
        &__item {
            margin-bottom: 32px;
        }
    }
    &-contacts__list {

    }
    &-social__list {

    }
}