.portfolio {
    &-buttons {
        padding-top: 94px;
        padding-bottom: 94px;
        &__list{
            display: flex;
            flex-wrap: wrap;
            transition: box-shadow $time $timing-function;
            @media screen and (min-width: 768px) {
                display: flex;
                align-content: center;
                justify-content: center ;
                margin-bottom: 50px;
            } 

        }
        &__item {
            margin-bottom: 15px;
            @media screen and (min-width: 768px) {
                margin-bottom: 0px;   
            } 
            &:hover, &:focus { 
                box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
                border-radius: 4px;
                transition: box-shadow $time $timing-function;
            }
            &:not(:last-child) {
                margin-right: 8px; 
            }
        }
        &--all {
            min-width: 73px;
            Height: 38px;
            Top: 174px;
            Left: 495px;
            margin: auto 8p auto 8px;
        }
        &--web-site {
            min-width: 128px;
            Height: 38px;
            Top: 174px;
            Left: 576px;
            margin: auto 8p auto 8px;
        }
        &--attachment {
            min-width: 145px;
            Height: 38px;
            Top: 174px;
            Left: 712px;
            margin: auto 8p auto 8px;
        }
        &--design {
            min-width: 103px;
            Height: 38px;
            Top: 174px;
            Left: 865px;
            margin: auto 8p auto 8px;
        }
        &--marketing {
            min-width: 130px;
            Height: 38px;
            Top: 174px;
            Left: 976px;
            margin: auto 8p auto 8px;
        }
    }
    &-projects {
        &__list {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            // margin-top: -30px;
            // margin-left: -30px;
            // & > .portfolio-projects__item {
            //     margin-top: 30px;
            //     // margin-left: 30px;
            //     margin-left: 0px;
            //     // @media screen and (min-width: 1200px) {
            //     //    margin-left: 30px; 
            //     // }
            // }
            // @media screen and (min-width: 1200px) {
            //     &:nth-child(3n+3) {
            //         margin-right: 15px;
            //     }
            //     &:nth-child(n+3) {
            //         margin-left: 15px;
            //     }
            // }
        }
        &__item {
            margin-top: 30px;
            // &:nth-child(3n + 3) {
            //     margin-right: 0px;
            // }
            @media screen and (min-width: 768px) {
                flex-basis: calc((100% - 60px) / 2);
                // margin-left: 30px;
                width: 354px;
                height: 440px;
                &:nth-child(2n) {
                    margin-left: 30px;
                }
            }
            @media screen and (min-width: 1200px) {
                flex-basis: calc((100% - 60px) / 3);
                // margin-left: 30px;
                width: 370px;
                height: 404px;
                &:nth-child(2n) {
                    margin-left: 0px;
                }
                &:nth-child(3n+2) {
                    margin-left: 30px;
                    margin-right: 30px;
                }
                // &:nth-child(n+2) {
                //     margin-left: 15px;
                // }
            }
        }
        &__link{
            display: block;
            align-items: center;
            justify-content: center; 
            background-color: $main-text-white-color;
            transition: box-shadow $time $timing-function;
            &:hover, &:focus {
                box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
                transition: box-shadow $time $timing-function;
                & .portfolio-projects__photo::before {
                    transform: translateY(0);
                }
                & .portfolio-projects__description {
                    opacity: 1;
                }
            }
        }
        &__photo {
            position: relative;
            overflow: hidden;
            &::before {
                display: inline-block;
                position: absolute;
                content: "";
                width: 100%;
                height: 294px;
                top: 0;
                background-color: $bg-section-portfolio;  
                transform: translateY(100%);
                transition: transform $time $timing-function;
            } 
        }
        &__description {
            position: absolute;
            content: "";
            top: 0px;
            right: 0px;
            display: flex;
            align-items: center;
            justify-content: center;        
            width: 100%;
            height: 294px;        
            font-size: 18px;
            line-height: 1.55;
            font-weight: 400; 
            text-align: left;        
            color: $main-text-white-color;
            padding: 63px 24px;
            opacity: 0; 
            transition: opacity $time $timing-function; 
        }
        &__text {
            padding: 20px 24px;
            border: 1px solid $border-color;
        }
        &__title {
            font-size: 18px;
            line-height: 2;
            font-weight: 700;
            color: $main-title-color;
        }
        &__type {
            font-size: 16px;
            line-height: 1.9;
            color: $main-text-color;
            padding-top: 4px;
        }
    }
}