$main-text-color: #757575;
$main-title-color: #212121;
$contacts-footer-color: rgba(253, 241, 241, 0.6);
$footer-bg-color: #2F303A;
$bg-color: #ECECEC;
$background-buttons-color: #F5F4FA;
$main-text-white-color: #FFFFFF;
$studio-logo-color: #000000;
$hover-focus-color: #2196F3;
$bg-color-portfolio: #E5E5E5; 
$border-color: #EEEEEE;
$border-color-clients: #AFB1B8;
$bg-color-add: #44454E;
$bg-description: rgba(47, 48, 58, 0.8);
$bg-section-portfolio: rgba(33, 150, 243, 0.9);
$border-input-color: rgba(255, 255, 255, 0.3);
$color-data: rgba(33, 33, 33, 1);
$border-color-input: rgba(33, 33, 33, 0.2);
$pleceholder-color: rgba(117, 117, 117, 0.5);

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$time: 250ms;